# Virtual Environment
venv/
ENV/
.env

# Python Cache
__pycache__/
*.pyc

# IDE Settings
.vscode/

# Testing/System
.pytest_cache/
test.pdfinfrastructure/ollama_data/
infrastructure/ollama_data/
infrastructure/ollama_data/
